# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\Desktop\Preche_Florian_JavaProjects_20-21\Solution_Tasks_NortalWU2021\Nortal WU2021\angular-bakeryshop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
